## ===== Docker Container Variables ===== ##
# set environment variables for containers

APP_ENV="prod"

# fastapi settings
APP_TITLE="FastApi instance"
APP_VERSION=0.0.1
APP_DESCRIPTION="Crazy good app"

# database settings
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_SERVER="postgres_container"    # name of docker service
POSTGRES_PORT=5432
POSTGRES_DB="postgres"

# pg admin settings
PGADMIN_DEFAULT_EMAIL="pgadmin4@pgadmin.org"
PGADMIN_DEFAULT_PASSWORD="postgres"
PGADMIN_LISTEN_PORT=80